body {
    background-image: url("../images/2557801.jpg")
}
.container {
    background-color: rgb(243, 63, 63);
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 36px;
    opacity: 0.9;
    border-radius: 20px;
    padding: 10px;
   

}

#timer-box {
    display: inline;
}
.trivia {
    /* background-color: rgb(39, 70, 209); */
    background-color: rgb(12, 12, 70);
    color: white;
    padding: 15px;
    text-align: center;
    margin: 0;
    opacity: 0.8;

}
#start-game-button {
    margin-top: 50px;
    padding: 10px;
    
}
#submit, #next-question {
    padding: 10px;

}

input[type="radio"] {
    -ms-transform: scale(1.8); /* IE 9 */
    -webkit-transform: scale(1.8); /* Chrome, Safari, Opera */
    transform: scale(1.8);
}
